binds {
    // screen sharing and presenting
    Mod+P hotkey-overlay-title="Present this window" { set-dynamic-cast-window;}
    Mod+Shift+P hotkey-overlay-title="Stop sharing screen" { clear-dynamic-cast-target;}
    Mod+Ctrl+P hotkey-overlay-title="Present this monitor" { set-dynamic-cast-monitor;}
    Mod+Shift+Ctrl+P hotkey-overlay-title="Mirror screen" repeat=false { spawn-sh "wl-mirror $(niri msg --json focused-output | jq -r .name)"; }
    Mod+Ctrl+Shift+F hotkey-overlay-title="Windowed fullscreen" { toggle-windowed-fullscreen; }

    // launcher and apps shortcuts
    Alt+Space hotkey-overlay-title="Open Vicinae" { spawn "vicinae" "toggle"; }

    // window navigation
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }
    Mod+Shift+H     { move-column-left-or-to-monitor-left; }
    Mod+Shift+L     { move-column-right-or-to-monitor-right; }
    Mod+Shift+M hotkey-overlay-title="Move workspace to next monitor" {move-workspace-to-monitor-next;}

    // session
    Mod+Escape hotkey-overlay-title="Lock Screen" {
        spawn "dms" "ipc" "call" "lock" "lock";
    }
    Mod+Shift+Escape { power-off-monitors; }

    // switch workspace and column mouse wheel shortcuts
    Mod+Shift+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+Shift+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
    Mod+WheelScrollDown { focus-column-right; }
    Mod+WheelScrollUp { focus-column-left; }

    // quick app access 
    Mod+T hotkey-overlay-title="Focus or open Terminal" {spawn "nirirun.sh" "-c" "ghostty" "--" "/usr/bin/ghostty" "--gtk-single-instance=true"; }
    Mod+B hotkey-overlay-title="Focus or open Browser" {spawn "nirirun.sh" "-c" "librewolf" "--" "flatpak" "run" "io.gitlab.librewolf-community"; }
{{ if eq .chezmoi.hostname "carl-precision" -}}
    // work-only config 
    Mod+1 hotkey-overlay-title="Focus or open Outlook" {spawn "nirirun.sh" "-t" r#"Outlook \(PWA\) - Courrier"# "--" "flatpak" "run" "--command=/app/bin/chromium" "org.chromium.Chromium" "--profile-directory=Default" "--app-id=pkooggnaalmfkidjmlhoelhdllpphaga";}
    Mod+2 hotkey-overlay-title="Focus or open Calendar" {spawn "nirirun.sh" "-t" r#"Outlook \(PWA\) - Calendrier"# "--" "flatpak" "run" "--command=/app/bin/chromium" "org.chromium.Chromium" "--profile-directory=Default" "--app-id=pkooggnaalmfkidjmlhoelhdllpphaga" "--app-launch-url-for-shortcuts-menu-item=https://outlook.office365.com/calendar";}
    Mod+3 hotkey-overlay-title="Focus or open Teams" {spawn "nirirun.sh" "-t" r#"Microsoft Teams \(PWA\) -"# "--" "flatpak" "run" "--command=/app/bin/chromium" "org.chromium.Chromium" "--profile-directory=Default" "--app-id=ompifgpmddkgmclendfeacglnodjjndh";}
    Mod+4 hotkey-overlay-title="Focus or open Clickup" {spawn "nirirun.sh" "-c" "Clickup" "--" "/home/carl/AppImages/clickup.appimage"; }
{{ end -}}

}
