workspace "dev" {}
workspace "mail" {}
workspace "chat" {}
workspace "other" {}

// apps
window-rule {
    match app-id=r#"^com\.nextcloud\.desktopclient\.nextcloud$"#
    open-floating true
}
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"
    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}
window-rule {
    match app-id="librewolf"
    match app-id="firefox"
    match app-id="ClickUp"
    exclude title="^ClickUp Command Bar$"
    open-on-workspace "dev"
}
window-rule {
    //match app-id=r#"^com\.mitchellh\.ghostty$"#
    match title=r#" byobu$"#
    open-on-workspace "dev"
}
window-rule {
  match title=r#"^Outlook \(PWA\)"#
  open-on-workspace "mail"
  block-out-from "screencast"
}
window-rule {
  match title=r#"^Microsoft Teams \(PWA\)"#
  match app-id="Slack"
  open-on-workspace "chat"
  block-out-from "screencast"
}
window-rule {
  match app-id="solaar"
  open-on-workspace "other"
}

window-rule {
  match app-id="ticktick"
  match app-id="spotify"
  open-on-output "ViewSonic Corporation VG2448 V5E203240833"
}

window-rule {
  match app-id="at.yrlf.wl_mirror"
  open-focused false
}


// presentation
window-rule {
    match is-window-cast-target=true

    focus-ring {
        on
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        on
        inactive-color "#7d0d2d"
    }

    shadow {
        on
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}
