workspace "dev" {
  open-on-output "Dell Inc. DELL U3225QE 2QH0834"
}
workspace "mail" {}
workspace "other" {}

window-rule {
    match app-id=r#"^com\.nextcloud\.desktopclient\.nextcloud$"#
    open-floating true
}
window-rule {
    match is-window-cast-target=true

    focus-ring {
        on
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        on
        inactive-color "#7d0d2d"
    }

    shadow {
        on
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"
    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}
window-rule {
    match app-id=r#"^com\.mitchellh\.ghostty$"#
    match app-id="librewolf"
    match app-id="firefox"
    match app-id="ClickUp"
    exclude title="^ClickUp Command Bar$"
    open-on-workspace "dev"
}
window-rule {
  match title=r#"^Outlook \(PWA\)"#
  match title=r#"^Microsoft Teams \(PWA\)"#
  match app-id="Slack"
  open-on-workspace "mail"
}
window-rule {
  match app-id="solaar"
  open-on-workspace "other"
}
