set -gx EDITOR nvim
set -gx GPG_TTY $(tty)
set -gx _ZO_EXCLUDE_DIRS "/var/home/*:"

{{ if eq .chezmoi.hostname "carl-precision" -}}
# work-only config 
set -gx CLICKUP_API_KEY {{ (index (lastpass "CLICKUP_API_KEY") 0 ).password | quote}}
{{- end }}

alias v='nvim'
alias gg='lazygit'
alias cz='chezmoi'

# ls aliases
if [ "$(command -v eza)" ]
    alias ll='eza -la --icons=auto --group-directories-first'
    alias l.='eza -d .*'
    alias ls='eza'
    alias l1='eza -1'
end

# ugrep for grep
if [ "$(command -v ug)" ]
    alias grep='ug'
    alias egrep='ug -E'
    alias fgrep='ug -F'
    alias xzgrep='ug -z'
    alias xzegrep='ug -zE'
    alias xzfgrep='ug -zF'
end

# bat for cat
alias cat='bat --style=plain --pager=never' 2>/dev/null

if status is-interactive
    # [ "$(command -v atuin)" ] && eval "$(atuin init fish $ATUIN_INIT_FLAGS)"
    [ "$(command -v starship)" ] && eval "$(starship init fish)"
    [ "$(command -v zoxide)" ] && eval "$(zoxide init fish)"
    fzf --fish | source
end
