set -gx EDITOR nvim
set -gx GPG_TTY $(tty)
# set -gx _ZO_EXCLUDE_DIRS "/var/home/*:"
set -gx FZF_ALT_C_OPTS "--walker-skip .git,miniconda3,.venv,build,dist,node_modules,*.egg-info,*.eggs,.cache,.local,.var,.npm"
set -gx HOME /var/home/carl # fix home path duplicates

{{ if eq .chezmoi.hostname "carl-precision" -}}
# work-only config 
set -gx CLICKUP_API_KEY {{ (index (lastpass "CLICKUP_API_KEY") 0 ).password | quote}}
set -gx PKG_CONFIG_PATH "/home/linuxbrew/.linuxbrew/opt/mysql-client/lib/pkgconfig"
set -gx CPPFLAGS "-I/home/linuxbrew/.linuxbrew/opt/mysql-client/include"
set -gx LDFLAGS "-L/home/linuxbrew/.linuxbrew/opt/mysql-client/lib"
# add work functions to path
set -a fish_function_path ~/.config/fish/functions/work/
# gnome keyring ssh agent
#set -gx SSH_AUTH_SOCK /run/user/1000/keyring/ssh
{{- end }}


fish_add_path ~/.local/quarto/bin

alias v='nvim'
alias gg='lazygit'
alias cz='chezmoi'
alias zz='zi'

# ls aliases
if [ "$(command -v eza)" ]
    alias ls='eza --group-directories-first'
    alias ll='eza -la --icons --group-directories-first'
    alias l.='eza -d --group-directories-first .*'
    alias l1='eza -1 --group-directories-first'
    alias lt='eza --tree --level=3 --icons --git' # tree
    alias lr='eza -ls modified --icons --git' # most recent at the bottom
    alias lss='eza -lrs size --icons --git' # biggest at the top
end

# ugrep for grep
if [ "$(command -v ug)" ]
    alias grep='ug'
    alias egrep='ug -E'
    alias fgrep='ug -F'
    alias xzgrep='ug -z'
    alias xzegrep='ug -zE'
    alias xzfgrep='ug -zF'
end

# bat for cat
alias cat='bat --style=plain --pager=never' 2>/dev/null

if status is-interactive
    # [ "$(command -v atuin)" ] && eval "$(atuin init fish $ATUIN_INIT_FLAGS)"
    [ "$(command -v starship)" ] && eval "$(starship init fish)"
    zoxide init fish | source
    fzf --fish | source
    source ~/.config/fish/fzf-git.sh/fzf-git.fish
end
